#### Sets are one of Python's built-in data structures. One of the core characteristics of sets is that they don't store duplicate values. If you try to add a duplicate value to a set, only one of them will be stored.

#### One quirk of working with sets is that, if you ever need to define an empty set, you must use the set() function. If you just write empty curly braces, like {}, Python will automatically create a dictionary.

### Example Code
#### set() # Set
#### {}    # Dictionary

In [2]:
myset = {1,2,3,4,5}
print(myset)

myset.add(6)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

#### If you try to add an element that is already in the set, only one will be kept. In this case, we already have the number 5 in the set:

In [ ]:
myset = {1,2,3,4,5}
myset.add(5)

print(myset)

{1, 2, 3, 4, 5}

In [5]:
myset = {1,2,3,4,5}
myset.remove(3)
myset

{1, 2, 4, 5}

#### The .remove() method will raise a KeyError if the element is not found, while the .discard() method will not:

In [6]:
myset = {1,2,3,4,5}
myset.remove(6)

KeyError: 6

In [8]:
myset.discard(6)
myset

{1, 2, 3, 4, 5}

#### The .clear() method removes all the elements from the set:

In [9]:
myset = {1,2,3,4,5,6}
myset.clear()
myset

set()

#### The .issubset() and the .issuperset() methods check if a set is a subset or superset of another set, respectively.

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}

print(set1.issubset(set2))
print(set2.issubset(set1))

print(set1.issuperset(set2))

False
True
True

#### The .isdisjoint() method checks if two sets are disjoint, which means they don't have any elements in common.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 4}
print(set1.isdisjoint(set2))
print(set2.isdisjoint(set1))


set3 = {1, 2, 3}
set4 = {4, 5, 6}
print(set3.isdisjoint(set4))

False
False
True

#### The union operator | returns a new set with all the elements from both sets:

In [17]:
set3 = {1, 2, 3, 4}
set4 = {4, 5, 6}

set3 | set4

{1, 2, 3, 4, 5, 6}

#### The intersection operator & returns a new set with only the elements that the sets have in common:

In [18]:
set3 = {1, 2, 3, 4}
set4 = {4, 5, 6}

set3 & set4

{4}

#### The difference operator - returns a new set with the elements of the first set that are not in the other sets.

In [19]:
set3 = {1, 2, 3, 4}
set4 = {4, 5, 6}
set3 - set4

{1, 2, 3}

#### ^ operator discards common element and returns unique element from both sets

In [20]:
set3 = {1, 2, 3, 4}
set4 = {4, 5, 6}
set3 ^ set4

{1, 2, 3, 5, 6}

#### Each one of these operators also has its corresponding compound assignment operator if you add the equal sign next to it. These operators automatically assign the resulting set to the first set in the expression:

### Example Code
#### |= &= -= ^=

In [24]:
set3 = {1, 2, 3, 4}
set4 = {4, 5, 6}

set3 -= set4
print(set3)
print(2 in set3)

{1, 2, 3}
True