In [8]:
cities = ['kudal', 'vengurla', 'malwan']
print(cities[0])
print(cities[-1])
len(cities)

kudal
malwan

3

In [7]:
name = 'agnelo'
list(name)

['a', 'g', 'n', 'e', 'l', 'o']

In [9]:
num = [1, 2, 3, 4, 5]
len(num)

5

In [ ]:
# Replacing a item from list
names = ['vasu', 'pranav', 'ayush', 'kshtj']
names[0] = 'harshu'
print(names)

['harshu', 'pranav', 'ayush', 'kshtj']

In [11]:
# Deleting a item from list
del names[1]
print(names)

['harshu', 'ayush', 'kshtj']

In [14]:
# Presence of item in a list
programming_languages = ['Python', 'Java', 'C++', 'Rust']
print('Rust' in programming_languages)
print('go' in programming_languages)

True
False

In [18]:
manInfo = ['harshu', 25, ['married', '15 may', 'confirm']]
print(manInfo[2])

# Accessing nested list
print(manInfo[2][2])

['married', '15 may', 'confirm']
confirm

In [ ]:
# Assigning var name to index
dev = ['agnelo', 23, 'SAP dev']
name, age, job = dev
print(name)
print(age)
print(job)

agnelo
23
SAP dev

In [23]:
dev = ['agnelo', 23, 'SAP dev']
name, *rest = dev
print(name)
print(rest)

agnelo
[23, 'SAP dev']

In [24]:
names = ['one', 'two', 'three', 'four', 'five']
print(names[1:4])

['two', 'three', 'four']

In [25]:
num = [1,2,3,4,5,6,7,8,9]
print(num[0::2])

[1, 3, 5, 7, 9]